<% if(typeof errors!= 'undefined') { %>
<%    errors.forEach((error) => { %>
      
            <p class="text-center text-black font-bold border-solid border-2 border-red-500 bg-red-600"> <%= error.msg %></p>

<%    })        %>
<% } %>

<% if(success_msg!= '') { %>
        <p class="text-center text-black font-bold border-solid border-2 border-green-600 bg-green-600" ><%=success_msg %> </p>
      <% } %>

<% if(error_msg != '') { %>
      <p class="text-center text-black font-bold border-solid border-2 border-red-500 bg-red-600"><%= error_msg %></p> 
      <% } %> 
<% if(error != '') { %>
       <p class="text-center text-black font-bold border-solid border-2 border-red-500 bg-red-600" ><%= error %> </p>
      <% } %> 