<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <link
     rel="stylesheet" 
     href="stylesheets/style.css"
    />
    <title>zim-energy</title>
  </head>
  <body>
    
    
<main class="relative h-screen overflow-hidden bg-white">
    <div class="flex items-start justify-between">
        
        <div class="flex flex-col w-full md:space-y-4">
            
            <header class="z-40 flex items-center justify-between w-full h-16">
                <a
                href="/"
                class="text-4xl font-bold mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black">
                    Zim energy
                </a>
                
            
                <div class="block ml-6 lg:hidden">
                   
                  
                </div>
                <div class="relative z-20 flex flex-col justify-end h-full px-3 md:w-full">
                    <div class="relative flex items-center justify-end w-full p-1 space-x-4">
                       
                        <span class="w-1 h-8 bg-brightYellow rounded-lg">
                        </span>
                        <a href="#" class="relative block">
                            <img alt="profil" src="/img/user.svg" class="mx-auto object-cover rounded-full h-10 w-10 "/>
                        </a>
                        <button class="flex items-center text-gray-500 dark:text-white text-md">
                            <%= currentUser.username %>                           
                        </button>
                    </div>
                </div>
            </header>