<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <link
     rel="stylesheet" 
     href="stylesheets/style.css"
    />

    <title>Change Password | Zim - Energy</title>
  </head>
  <body class="text-black antialiased">
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 "
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          
          
        </div>
        
      </div>
    </nav>
    <main>
      <section class="absolute w-full h-full">
        <div
          class="absolute top-0 w-full h-full bg-gray-300"
        ></div>
        <div class="container mx-auto px-4 h-full">
          <div class="flex content-center items-center justify-center h-full">
            <div class="w-full lg:w-4/12 px-4">
              <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-white border-0"
              >

              <%- include ('./partials/messages') %>
                <div class="rounded-t mb-0 px-6 py-6">
                  <div class="text-center mb-3">
                    <h6 class="text-black text-sm font-bold">
                      Change Password
                    </h6>
                  </div>
                  <div class="btn-wrapper text-center">
                   
                    <a        href="/profile"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                Go Back
      </a>
                  </div>
                  <hr class="mt-6 border-b-1 border-gray-400" />
                </div>
                <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                  
                  <form>
                    <div class="relative w-full mb-3">
                     <input
                        type="password"
                        name="currentPassword"
                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                        placeholder="Current Password"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>
                    <div class="relative w-full mb-3">
                      <input
                      name="newPassword"
                        type="password"
                        class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                        placeholder="New Password"
                        style="transition: all 0.15s ease 0s;"
                      />
                    </div>

                    <div class="relative w-full mb-3">
                        <input
                        name="confirmPassword"
                          type="password"
                          class="border-0 px-3 py-3 placeholder-black text-black bg-white rounded text-sm shadow focus:outline-brightYellow focus:ring w-full"
                          placeholder="Confirm New Password"
                          style="transition: all 0.15s ease 0s;"
                        />
                      </div>
                    
                    
                    <div class="text-center mt-6">
                      <button 
                        href="#"
                        class="bg-brightYellow text-black active:bg-brightYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                        type="submit"
                      >
                        Change Password
                      </button>
                    </div>
                  </form>

                  
                  
                </div>
              </div>

              
            </div>
          </div>
        </div>
        <footer class="absolute w-full bottom-0 bg-gray-300 pb-6">
          <div class="container mx-auto px-4">
            <hr class="mb-6 border-b-1 border-black" />
            <div
              class="flex flex-wrap items-center md:justify-between justify-center"
            >
              <div class="w-full md:w-4/12 px-4">
                <div class="text-sm text-black font-semibold py-1">
                    Copyright &copy;<script data-cfasync="false" ></script><script>document.write(new Date().getFullYear());</script> All rights reserved 
                 
                </div>
              </div>
             
            </div>
          </div>
        </footer>
      </section>
    </main>
  </body>
</html>
