<%- include ('./partials/productHeader') %>
    <main>
       
      <section class="bg-white">
        <div class="item-center text-center">
            <a        href="/productAndService"
                  class="bg-yellow-500 text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                Back
      </a>
        </div>
        

        <div class="flex flex-wrap justify-center text-center mb-4">
          <div class="w-full lg:w-6/12 px-8">
            <h2 class="text-4xl font-semibold text-black">Products and Services</h2>
             
           
          </div>
        </div>
        <div class="flex flex-wrap justify-end text-right mb-12 mx-6">
          
        </div>
        <form action="/machine7" method="post">
      <div class="flex flex-wrap items-center justify-center">
    
    
      <div class="w-full p-2 m-auto shadow-lg ">
        <div class="bg-white flex flex-row  ">
            <div class="w-36">
                <img src="/img/product7.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>

            </div>
            <div class="mt-6">
                <p class="text-base font-bold text-black ">
                    ZE-kw449max
                </p>
                <p class="text-black text-left">
                    ₦ 500,000
                </p>
            </div>
          
        </div>

        <div class="flex flex-col bg-brightYellow rounded-2xl"> 
            <div class=" flex flex-row mx-6 my-4">
              <div class="w-1/2">
                <p>
                    Daily income: ₦ 17,500
                 
              </p>
              </div>
                
              

                <div class="">
                  <p class="">
                    Total income: ₦ 612,500
                </p>
                </div>
              </div>
                
           
              <div class=" flex flex-row mx-6 my-4">
                <div class="w-1/2">
                  <p>
                    Hold duration: 30 days
                   
                </p>
                </div>
                  
                
  
                  <div class="">
                    <p class="">
                      Total return rate: 16%
                  </p>
                  </div>
                </div>

        </div>
        <div class="item-center my-4 text-center">
          <% if(currentUser.hasInvested == true){ %>
         <button        href="#"
               class="disable bg-lightGreen text-black active:bg-darkYellow text-sm font-bold px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
               type="button"
               style="transition: all 0.15s ease 0s;"
             >
             <%= currentUser.machineRunning %> Currently Running
         </button>
         <%  } else { %>
         <button        href="#"
         class="bg-lightGreen text-black active:bg-darkYellow text-sm font-bold px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
         type="submit"
         style="transition: all 0.15s ease 0s;"
       >
       Purchase for 30 days
   </button>
   <%  } %> 

     </div>



        <div class="p-4 m-3  rounded-lg">
            <p class="text-base text-black">
              As the world’s best manufacturer for construction and mining equipment, 
              it's provides high-quality generator sets. The company sells both solar powered
               (7kW to 16,200kW) and generators (9kW-600kW) to many countries globally.




             
               
             </p>

             <p class="text-base text-black my-2">
              ZE-kW449max (500,000), cycle 35 days, daily income 17,500 total income N612,500



                
              
               </p>
               <p class="text-base text-black my-2">
                [It means that the principal can be earned back in 12 days, and the remaining 23 days are net income]

               </p>
               
             </p>
           
            <br/>
            <div class="flex flex-col justify-between text-xs ">
                
            
                
               
            </div>
        </div>
    </div>
    
    
    
    
    
          </div>   
          
        </form>
        </section>
            

    </main>

    <%- include ('./partials/productFooter') %>
