<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/img/apple-icon.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/creativetimofficial/tailwind-starter-kit/compiled-tailwind.min.css"
    />
    <link
     rel="stylesheet" 
     href="stylesheets/style.css"
    />
    <title>Zim-Energy - machines</title>
  </head>
  <body class="text-gray-800 antialiased">
    <nav class="relative mb-24  bg-brightYellow">
        <!-- Flex -->
       
        <div class="flex item-center justify-between">
            <!-- image -->
            <div class="flex flex-col">
                <div class="flex flex-auto">
                    <img src="/img/logo.jpg" class="w-5 h-5  mt-4 ml-6" alt="">
                <a class="text-3xl mx-2 inline-block mr-4 py-2 whitespace-nowrap text-black">
                    Zim energy
                </a>
                </div>
                
            </div>
            <div class="hidden md:flex space-x-6 py-2 md:mx-6">
                <a href="#" class="hover:text-darkGreyishBlue">Home</a>
                <a href="#" class="hover:text-darkGreyishBlue">About</a>
                <a href="#" class="hover:text-darkGreyishBlue">Epic</a>
                <a href="#" class="hover:text-darkGreyishBlue">Team</a>
                <a href="#" class="hover:text-darkGreyishBlue">Profile</a>
            </div>
            <!-- button -->
            <!-- <a href="#" class="hidden  md:block h-10 p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                Get Started
            </a> -->
    
            <!-- Hamburger icon -->
            <button id="menu-btn" class="block hamburger my-6 mx-6 md:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
    
        </div>
        <!-- Mobile menu -->
            <div class="md:hidden">
                <div id="menu" class="absolute hidden flex-col items-center self-end py-8 mt-10 space-y-5 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                    <a href="#">Home</a>
                    <a href="#">Pricing</a>
                    <a href="#">Product</a>
                    <a href="#">About us</a>
                    <a href="#">Communuity</a>
                    
                    
                </div>
            </div>
    
       </nav>
    <main>
       
      <section class="bg-white">
        <div class="item-center text-center">
            <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                Go Back
      </a>
        </div>
        

        <div class="flex flex-wrap justify-center text-center mb-4">
          <div class="w-full lg:w-6/12 px-8">
            <h2 class="text-4xl font-semibold text-black">Products and Services</h2>
             
           
          </div>
        </div>
        <div class="flex flex-wrap justify-end text-right mb-12 mx-6">
          
        </div>
    
      <div class="flex flex-wrap items-center justify-center">
    
    
      <div class="w-full p-2 m-auto shadow-lg ">
        <div class="bg-white flex flex-row  ">
            <div class="w-36">
                <img src="/img/product6.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>

            </div>
            <div class="mt-6">
                <p class="text-base font-bold text-black ">
                    ZE-KW369
                </p>
                <p class="text-black text-left">
                    ₦ 120,000
                </p>
            </div>
          
        </div>

        <div class="flex flex-col bg-brightYellow rounded-2xl"> 
            <div class=" flex flex-row mx-6 my-4">
              <div class="w-1/2">
                <p>
                    Daily income: ₦ 5,000
                 
              </p>
              </div>
                
              

                <div class="">
                  <p class="">
                    Total income: ₦ 175,000
                </p>
                </div>
              </div>
                
           
              <div class=" flex flex-row mx-6 my-4">
                <div class="w-1/2">
                  <p>
                    Hold duration: 35 days
                   
                </p>
                </div>
                  
                
  
                  <div class="">
                    <p class="">
                      Total return rate: 16%
                  </p>
                  </div>
                </div>

        </div>
        <div class="item-center my-4 text-center">
          <a        href="#"
                class="bg-lightGreen text-black active:bg-darkYellow text-sm font-bold px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                type="button"
                style="transition: all 0.15s ease 0s;"
              >
             Purchase for 35 days
    </a>
      </div>



        <div class="p-4 m-3  rounded-lg">
            <p class="text-base text-black">
                As the world’s best manufacturer for construction and mining equipment, 
                it's provides high-quality generator sets. The company sells 
                both solar powered (7kW to 16,200kW) and generators (9kW-600kW) to many countries globally.




             
               
             </p>

             <p class="text-base text-black my-2">
                ZE-kW606max(120,000), cycle 35 days, daily income 5000, total income 175,000

                
                

                
              
               </p>
               <p class="text-base text-black my-2">
                [It means that the principal can be earned back in 12 days, and the remaining 23 days are net income]

               </p>
               
             </p>
           
            <br/>
            <div class="flex flex-col justify-between text-xs ">
                
            
                
               
            </div>
        </div>
    </div>
    
    
    
    
    
          </div>    
        </section>
            

    </main>

    <footer class="relative w-full bottom-0 bg-brightYellow pb-6">
      <div class="container mx-auto px-4">
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full  px-4">
            <div class="text-sm text-black font-semibold py-1 text-center">
                Copyright &copy;<script data-cfasync="false" ></script><script>document.write(new Date().getFullYear());</script> All rights reserved 
             
            </div>
          </div>
         
        </div>
      </div>
    </footer>

    
  </body>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
  </script>
   </script>
   <script src="javascripts/script.js">
     
   </script>

</html>
