<%- include ('./partials/productHeader') %>
    <main>
      <div class="item-center text-center">
        <a        href="/profile"
              class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
              type="button"
              style="transition: all 0.15s ease 0s;"
            >
            Back
  </a>
    </div>
      <section class="bg-white">

        <div class="flex flex-wrap justify-center text-center mb-4">
          <div class="w-full lg:w-6/12 px-8">
            <h2 class="text-4xl font-semibold text-black">Products and Services</h2>
             
           
          </div>
        </div>
        <div class="flex flex-wrap justify-end text-right mb-12 mx-6">
          
        </div>
    
      <div class="flex flex-wrap items-center justify-center">
    
    <a href="/machine1">
      <div class="w-64 p-2 m-auto shadow-lg ">
        <div class="bg-gray-300 w-full">
          <img src="/img/product1.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
        </div>
        <div class="p-4 m-3  rounded-lg">
            <p class="text-xl font-bold text-black ">
              ZE-7kw
            </p>
            <p class="text-xs text-black">
               As the world’s best manufacturer for construction and mining equipment, it's provides  
               <a class="text-brightYellow" href="/machine1">Read more</a>
              
            </p>
            <br/>
            <div class="flex flex-col justify-between text-xs ">
                <p class="text-black text-left">
                    ₦ 4,000
                </p>
             <hr>
              
              <p class="text-black text-xs">
                   Day income: ₦ 350
                </p>
                
               
            </div>
        </div>
    </div>
  </a>
    
  <a href="/machine2">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product2.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-2.5kw
          </p>
          <p class="text-xs text-black">
            Cummins is one of the best international companies that designs and manufactures power
             <a class="text-brightYellow" href="/machine2">Read more</a>
            
          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 10,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 750
              </p>
              
             
          </div>
      </div>
    </div>
  </a>

  <a href="/machine3">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product3.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-56kw 
          </p>
          <p class="text-xs text-black">
            As a principal supplier of standalone power generation equipment in the U.S. market, High Power Systems    
                <a class="text-brightYellow" href="/machine3">Read more</a>
            
          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 15,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 900
              </p>
              
             
          </div>
      </div>
    </div>
  </a>
    
  <a href="/machine4">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product4.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-KW109 
          </p>
          <p class="text-xs text-black">
            As the world’s best manufacturer for construction and mining equipment, it's provides high-quality 
                    <a class="text-brightYellow" href="/machine4">Read more</a>
            
          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 25,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 1,200
              </p>
              
             
          </div>
      </div>
    </div>
  </a>

  <a href="/machine5">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product5.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-KW369 
          </p>
          <p class="text-xs text-black">
            As a principal supplier of standalone power generation equipment in the U.S. market, High Power Systems    
                <a class="text-brightYellow" href="/machine5">Read more</a>
            
          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 60,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 3,000
              </p>
              
             
          </div>
      </div>
    </div>
  </a>

  <a href="/machine6">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product6.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-KW606max    
          </p>
          <p class="text-xs text-black">
            As the world’s best manufacturer for construction and mining equipment, it's provides high-quality generator            
            <a class="text-brightYellow" href="/machine6">Read more</a>

          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 120,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 5,000
              </p>
              
             
          </div>
      </div>
    </div>
  </a>
    <a href="/machine7">
    <div class="w-64 p-2 m-auto shadow-lg ">
      <div class="bg-gray-300 w-full">
        <img src="/img/product7.jpg" alt="adidas" class="rounded-2xl p-4 m-auto h-36"/>
      </div>
      <div class="p-4 m-3  rounded-lg">
          <p class="text-xl font-bold text-black ">
            ZE-kw449max   
          </p>
          <p class="text-xs text-black">
            As a principal supplier of standalone power generation equipment in the U.S. market, HiGH Power Systems... 
                           <a class="text-brightYellow" href="/machine7">Read more</a>
            
          </p>
          <br/>
          <div class="flex flex-col justify-between text-xs ">
              <p class="text-black text-left">
                  ₦ 500,000
              </p>
           <hr>
            
            <p class="text-black text-xs">
                 Day income: ₦ 17,500
              </p>
              
             
          </div>
      </div>
    </div>
  </a>
    
    
    
    
          </div>    
        </section>
            

    </main>
    <%- include ('./partials/productFooter') %>
