<%- include ('./partials/productHeader') %>

    <main>
       
      <section class="bg-white">
        <div class="item-center text-center">
            <a        href="/profile"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                Go Back
      </a>
        </div>
        

        <div class="flex flex-wrap justify-center text-center mb-4">
          <div class="w-full lg:w-6/12 px-8">
            <h2 class="text-4xl font-semibold text-black">Recharge</h2>
             
           
          </div>
        </div>
        <div class="flex flex-wrap justify-end text-right mb-12 mx-6">
          
        </div>
    
      <div class="flex flex-col ">
    
    <div class="mx-6 ">
        <h3 class="font-semibold text-2xl text-black">
            Recharge instructions 
        </h3>
    </div>
    <div class="mx-8"> 
        <p class="text-xs md:text-xl">
           1. The minimum recharge account is N4000,Transfer below will not be credited.
        </p>
        <p class="text-xs md:text-xl">
            2. Do not remit money to the previous receiving account. Every time you recharge you must resubmit the  recharge request to obtain latest platform 
            recharge account for transfer 
         </p>
         <p class="text-xs md:text-xl">
            3. Please operate in  strict accordance with the recharge rules. If you  do not recharge according to the platform rules  and cause property losses,
            the company will not be responsible.
         </p>
         <p class="text-xs md:text-xl">
            4. On the payment page just scroll down and select bank transfer so from there you see your one time account to pay into.
         </p>
    </div>

          </div>    

          <div class="h-16">

          </div>

          <div class="mx-6 ">
            <h3 class="font-semibold text-xl text-black">
                How much are depositing?
            </h3>
        </div>

        <div class="h-8">

        </div>

        <hr class="mb-6 border-b-1 border-black" />
        <a        href="#"
        class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
        type="button"
        style="transition: all 0.15s ease 0s;"
      >
      ₦ 4,000
</a>

<a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 10,000
      </a>

      <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 15,000
      </a>
      <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 25,000
      </a>
      <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 60,000
      </a>
      <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 120,000
      </a>
      <a        href="#"
                  class="bg-brightYellow text-black active:bg-darkYellow text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                ₦ 500,000
      </a>
      <div class="h-8">

      </div>

      <hr class="mb-6 border-b-1 border-black" />


        </section>
            

    </main>

    <%- include ('./partials/productFooter') %>

